.emissions-bubble {
    width: 250px; height: 100px;
	background: var(--light-green);
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: relative;
	margin: 80px auto 20px;
}


.emissions-bubble:after, .emissions-bubble:before {
	content: '';
	position: absolute;
	background: var(--light-green);
	z-index: -1
}

.emissions-bubble:after {
	width: 120px; height: 120px;
	top: -60px; left: 40px;
	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
}

.emissions-bubble:before {
	width: 90px; height: 90px;
	top: -50px; right: 40px;
	border-radius: 200px;
	-webkit-border-radius: 180px;
	-moz-border-radius: 180px;
}

.emissions-bubble p {
    font-weight: 600;
    margin: 2px;
}

.emissions-bubble-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.emissions-bubble-emissions {
    font-size: 2rem;
}

.emissions-bubble-text {
    font-size: 0.8rem;
    color: var(--background);
    width: 60%;
}