.emissions-bubble {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: var(--light-green);
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 15px;
    border-style: solid;
    border-color: var(--dark-green);
}

.emissions-bubble p {
    font-weight: 600;
    margin: 2px;
}

.emissions-bubble-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.emissions-bubble-emissions {
    font-size: 2rem;
}

.emissions-bubble-text {
    font-size: 0.8rem;
    color: var(--background);
    width: 60%;
}