.metrics-list {
    list-style: none;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
}

.metrics-list-item {
    display: grid;
    width: 5rem;
    padding: 15px;
}

.metrics-list-item:nth-child(-n+3) {
    border-bottom: 1px solid #131F21;
}

.metrics-list-item:not(:nth-child(3n)) {
    border-right: 1px solid #131F21;
}

.metrics-list-metric {
    height: 48px;
    margin: 0;
    margin-bottom: 10px;
}

.good, .average, .poor {
    margin: auto;
    border: 4px solid;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.good {
    border-color: var(--light-green);
    align-items: center;
}
.average {
    border-color: var(--orange);
}
.poor {
    border-color: var(--red);
}

.metrics-name {
    font-size: 0.8rem;
}

.metrics-score {
    font-size: 1rem;
    margin-top: 12px;
}


.metrics-savings {
    list-style: none;
    text-align: left;
    padding: 0;
}

hr {
    border: 0;
    height: 1px;
    background: var(--background);
}

.potential-savings-box {
    background-color: rgba(255, 255, 255, 0.822);
    color: var(--background);
    border-radius: 15px;
    margin-top: 10px;
    width: 100%;
}

.potential-savings-box li {
    display: flex;
    margin: auto;
}

.potential-savings-box-text {
    margin-left: 20px;
}