.metrics-list {
    list-style: none;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.metrics-list-item {
    display: grid;
    width: 5rem;
    margin: 10px;
}

.metrics-list-metric {
    height: 48px;
    margin: 0;
    margin-bottom: 10px;
}

.metrics-list-item div {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.good {
    background-color: var(--light-green);
    align-items: center;
}
.average {
    background-color: var(--orange);
}
.poor {
    background-color: var(--red);
}

.metrics-name {
    font-size: 0.8rem;
}

.metrics-score {
    font-size: 1.3rem;
    margin-top: 24px;
}


.metrics-savings {
    list-style: none;
}

hr {
    border: 0;
    height: 1px;
    background: #063236;
}