.App {
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vh;
    height: 70vh;
}


body {
    background-color: var(--background);
    --background: #051112;
    --dark-green: #004446;
    --light-green: #007C05;
    --red: #BE1111;
    --orange: #B45B09;
}

.carbon-insights-invisible {
    display: none;
}

.carbon-insights-visible {
    display: block;
    padding-top: 440px;
}