.App {
    text-align: center;
    color: white;
    margin: 10px;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
}

body {
    background-color: var(--background);
    --background: #021C1E;
    --dark-green: #004446;
    --light-green: #2D7974;
    --red: #FF646D;
    --orange: #E1A03E;
}